# Copy to .env so bind-mounted vault files are owned by you:
#   cp .env.example .env
#   sed -i "s/DOCKER_UID=.*/DOCKER_UID=$(id -u)/; s/DOCKER_GID=.*/DOCKER_GID=$(id -g)/" .env

DOCKER_UID=1000
DOCKER_GID=1000
KBOS_PORT=3000
# VAULT_PATH=./vault
